{% extends 'util/base.html' %}

{% block title %}
<title>全体チャット</title>
{% endblock title %}

{% block content %}

<body class="body">
    <!-- ヘッダー -->
    <header class="header">
        <h1>全体チャット</h1>
        <a href="{{ url_for('chat_list') }}" class="back-button">
            <img src="{{ url_for('static', filename='img/left.png') }}" alt="戻る" class="header-image" />
        </a>
    </header>

    <!-- メイン -->
    <main>
        {% for message in messages %}
        <div class="message {{ 'right' if message.user_id == current_user.id else 'left' }}">
            <div class="message-box">
                <div class="message-content">
                    <div class="message-text">{{ message.content }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>

    <!-- フッター（メッセージ送信フォーム）-->
    <footer class="chat-screen">
        <form action="{{ url_for('send_message') }}" method="POST" class="chat-form">
            <textarea id="footer-message" name="message" placeholder="メッセージを入力" required></textarea>
            <input type="image" src="{{ url_for('static', filename='img/send-button.png') }}" alt="送信"
                class="send-button">
        </form>
    </footer>
</body>
{% endblock content %}