{% extends 'util/base.html' %} {% block title %}
<title>アイコン変更</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->

  <header class="header">
    <h1>アイコン変更</h1>
    <a href="/profile" class="back-button">
      <!-- ファイル統一の為変更 -->
      <img src="{{ url_for('static', filename='img/left.png') }}" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダー END ----->
  <!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <!----- メインコンテンツ ----->
  <main class="main">
    <form action="/change_icon" method="POST" enctype="multipart/form-data">
      <div class="input-form">
        <div class="icon icon-large">
          <img src="{{ icon_img }}" alt="アイコン画像" class="icon-img" />
        </div>

        <input id="icon_file" type="file" name="icon_file" accept=".png,.jpg,.jpeg,.gif" hidden />
        <label for="icon_file">
          <img src="{{ url_for('static', filename='img/change.png') }}" alt="アイコン画像選択" class="iconchange" />
        </label>

        <div id="fileName" class="text-box">選択したファイル名が表示されます</div>

        <p>
          ファイル形式は、'png', 'jpg', 'jpeg', 'gif'、<br />
          ファイルサイズは、4MBまでアップロード可能です。
        </p>
      </div>

      <p><input type="submit" value="アップロード" class="main-button" /></p>
    </form>
  </main>

  <!-- メッセージ表示 -->

  <script>
    document.getElementById("icon_file").addEventListener("change", function (e) {
      const file = e.target.files[0];
      if (file) {
        document.getElementById("fileName").textContent = file.name;
      } else {
        document.getElementById("fileName").textContent = "";
      }
    });
  </script>

  {% endblock content %}
</body>
