{% extends 'util/base.html' %} {% block title %}
<title>パスワード変更</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->

  <header class="header">
    <h1>パスワード変更</h1>
    <a href="/profile" method="get" class="back-button">
      <!-- ファイル統一の為変更 -->
      <img src="{{ url_for('static', filename='img/left.png') }}" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダー END ----->
  <!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <!----- メインコンテンツ ----->
  <main class="main">
    <form action="/change_password" method="POST">
      <div class="input-form">
        <div class="input-box-autu">
          <div class="font">現在のパスワード</div>
          <div class="search-box2">
            <input type="password" name="current_password" value="" class="text-box" />
          </div>
        </div>

        <div class="input-box-autu">
          <div class="font">新しいパスワード</div>
          <div class="search-box2">
            <input type="password" name="password" value="" class="text-box" />
          </div>
        </div>

        <div class="input-box-autu">
          <div class="font">新しいパスワード（確認）</div>
          <div class="search-box2">
            <input type="password" name="password-confirmation" value="" class="text-box" />
          </div>
        </div>

        <p><input type="submit" value="更新" class="main-button" /></p>
      </div>
    </form>
    <img src="{{ url_for('static', filename='img/change_password.png') }}" class="backgroundimage" />
  </main>
  {% endblock content %}
</body>
