<!-- 本当のEメールアドレス変更HTML -->

{% extends 'util/base.html' %} {% block title %}
<title>メールアドレス変更</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>メールアドレス変更</h1>
    <a href="/profile" method="get" class="back-button">
      <img src="{{ url_for('static', filename='img/left.png') }}" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダー END ----->

  {% with messages = get_flashed_messages() %} {% if messages %}
  <div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <!----- メインコンテンツ ----->
  <main class="main">
    <form action="/change_email" method="POST">
      <div class="input-form">
        <div class="input-box-autu">
          <div class="font">メールアドレス</div>
          <div class="search-box1">
            <input type="email" name="email" placeholder="{{ current_user.email }}" class="text-box" />
          </div>
        </div>
      </div>

      <p><input type="submit" value="更新" class="main-button" /></p>
    </form>
    <img src="{{ url_for('static', filename='img/change_email.png') }}" class="backgroundimage" />
  </main>
  {% endblock content %}
</body>
