{% extends 'util/base.html' %} {% block title %}
<title>Eメールアドレス変更</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->

  <header class="header">
    <h1>Eメールアドレス変更</h1>
    <a href="/profile" method="get" class="back-button">
      <!-- ファイル統一の為変更 -->
      <img src="../../static/img/left.png" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダー END ----->
  <!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <!----- メインコンテンツ ----->
  <main class="main">
    <form action="/change_email" method="POST">
      <div class="input-form">
        <div class="input-box-autu">
          <div class="font">メールアドレス</div>
          <div class="search-box1">
            <div class="text-box">
              <input type="email" name="email" placeholder="{{ current_user.email }}" />
            </div>
          </div>
        </div>
      </div>

      <p><input type="submit" value="更新" class="main-button" /></p>
    </form>
  </main>
  {% endblock content %}
</body>
