{% extends 'util/base.html' %} {% block title %}
<title>Eメールアドレス変更</title>
{% endblock title %}
{% block content %}
<h1>Eメールアドレス変更</h1>
<!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/change_email" method="POST">

    <div>
        <p>現在： <var>{{ current_user.email }}</var></p <label for="">新規</label>
        <input type="text" name="email">
    </div>
    <div>
        <input type="submit" value="更新"></button>
    </div>
</form>
<form action="/profile" method="GET">
    <input type="submit" value="キャンセル">
</form>
{% endblock content %}