{% extends 'util/base.html' %} {% block title %}
<title>パスワード変更</title>
{% endblock title %}
{% block content %}
<h1>パスワード変更</h1>
<!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/change_password/{{ current_user.user_id }}" method="POST">

    <div>
        <label for="">現在のパスワード</label>
        <input type="password" name="current_password">
    </div>
    <br>
    <div>
        <label for="">新規のパスワード</label>
        <input type="password" name="password">
    </div>
    <br>
    <div>
        <label for="">確認用パスワード</label>
        <input type="password" name="password-confirmation">
    </div>
    <br>
    <div>
        <input type="submit" value="更新"></button>
    </div>
</form> 
<form action="/profile/{{ current_user.user_id }}" method="GET">
    <input type="submit" value="キャンセル">
</form>
{% endblock content %}