{% extends 'util/base.html' %} {% block title %}
<title>チャット一覧</title>
{% endblock title %} {% block content %}

<body class="body">
  <header class="header">
    <h1>チャット一覧</h1>
  </header>
  <main>
    <div class="list">
        {% for chat in chats %}
        <form action="/chat/{{ chat.id }}/messages" method="GET">
        <input type="submit" value="{{ chat.chat_name}}" class="h3-box">
        </form>
        {% endfor %}
    </div>
    <div>
      <form action="/profile" method="GET">
        <input type="submit" value="プロフィール">
      </form>
    </div>
  </main>

  <footer>
    <a href="/chat/create" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/chat-create-create.png') }}" alt="チャット作成" class="footer-image" />
        チャット作成
      </div>
    </a>

    <div class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/chat-list-create.png') }}" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </div>

    <a href="/logout" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/logout-create.png') }}" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>

  {% endblock content %}
</body>