{% extends 'util/base.html' %} {% block title %}
<title>チャット一覧</title>
{% endblock title %} {% block content %}

<body class="body">
  <header class="header">
    <h1>チャット一覧</h1>
  </header>
  <main>
    <a href="chatscreen.html" class="list">
      <h3>
        全体チャット<br />
        太郎さん博多の明子専門店で...
      </h3>
    </a>
  </main>

  <footer>
    <a href="/chat/create" class="footer-button">
      <div class="footer-item">
        <img src="../static/img/chat-create-list.png" alt="チャット作成" class="footer-image" />
        チャット作成
      </div>
    </a>

    <a href="/register" class="footer-button">
      <div class="footer-item">
        <img src="../static/img/chat-list-list.png" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </a>

    <a href="/logout" class="footer-button">
      <div class="footer-item">
        <img src="../static/img/logout-list.png" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>

  {% endblock content %}
</body>