{% extends 'util/base.html' %} {% block title %}
<title>chats</title>
{% endblock title %}
{% block content %}
<h1>チャット一覧</h1>
<h2> {{ current_user.user_name }} </h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div>
    {% for chat in chats %}
    <form action="/chat/{{ chat.id }}/messages" method="GET">
        <input type="submit" value="{{ chat.chat_name}}">
    </form>
    {% endfor %}
</div>
<form action="/chat/create" method="GET">
    <input type="submit" value="チャット作成">
</form>
<form action="/logout" method="GET">
    <input type="submit" value="ログアウト">
</form>
{% endblock content %}