{% extends 'util/base.html' %} {% block title %}
<title>Create Chat</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>チャット作成</h1>
    <a href="/chats" class="back-button">
      <img src="{{ url_for('static', filename='img/left.png') }}" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダーEND ----->

  <!-- メイン -->
  <main class="main">
    <form action="/chat/create" method="post">
      <div class="input-box-list">
        <!-- チャットタイプ選択 -->
        <h3>グループタイプ選択</h3>
        <div class="select-chat_types">
          <!-- オープンチャット -->
          <input type="radio" id="open" name="chat_type" value="open" onclick="checkRadio()" checked class="select-chat_typeradio" />
          <label for="open">
            <div id="open_div" class="select-chat_type">
              <img src="{{ url_for('static', filename='img/openform.png') }}" class="select-chat_typeimg" />
            </div>
          </label>
          <!-- グループチャット -->
          <input type="radio" id="group" name="chat_type" value="group" onclick="checkRadio()" class="select-chat_typeradio" />
          <label for="group">
            <div id="group_div" class="select-chat_type">
              <img src="{{ url_for('static', filename='img/groupform.png') }}" class="select-chat_typeimg" />
            </div>
          </label>

          <!-- プライベートチャット -->
          <input type="radio" id="private" name="chat_type" value="private" onclick="checkRadio()" class="select-chat_typeradio" />
          <label for="private">
            <div id="private_div" class="select-chat_type">
              <img src="{{ url_for('static', filename='img/privateform.png') }}" class="select-chat_typeimg" />
            </div>
          </label>
        </div>
        <!-- オープン選択 -->
        <div class="input-box-child" id="openForm">
          <div>チャット名</div>
          <input type="text" name="open_chat_name" value="" class="chat-name" placeholder="例：明太子レシピ" />

          <div class="input-box-child">
            <div class="chatexplanation-label">説明</div>
            <input type="text" name="open_detail" value="" class="chatexplanation" placeholder="例：明太子レシピを共有しましょう" />
          </div>
        </div>

        <!-- グループチャット選択 -->
        <div class="input-box-child" id="groupForm">
          <div>チャット名</div>
          <input type="text" name="group_chat_name" value="" class="chat-name" placeholder="例：明太子レシピ" />
          <div class="input-box-child">
            <div class="chatexplanation-label">説明</div>
            <input type="text" name="group_detail" value="" class="chatexplanation" placeholder="例：明太子レシピを共有しましょう" />
          </div>
          <div class="input-box-child">
            <div class="add_member_title">グループメンバー追加</div>
            <div class="list">
              <div id="add_member_form" class="list">
                <input type="text" name="friends_name" class="chat-name member-add-list" placeholder="例：めんたいちゃん" />
              </div>
              <input type="button" value="+" onclick="addForm()" class="member-add-button" />
            </div>
          </div>
        </div>
        <!-- プライベートチャット選択 -->
        <div class="input-box-child" id="privateForm">
          <div>プライベート</div>
          <input type="text" name="private_friend_name" class="chat-name" placeholder="例：めんたいちゃん" />
        </div>

        <input type="submit" value="登録" class="main-button chatcreatesubmit" />
      </div>
    </form>
  </main>
  <!-- メインEND -->

  <!-- フッター -->
  <footer class="footer-button_chatscreate">
    <div class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="プロフィール" class="footer-image" />
        プロフィール
      </div>
    </div>

    <a href="/chats" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/chat-list-create.png') }}" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </a>

    <a onclick="openModal()" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/logout-create.png') }}" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>
  <!-- ログアウトのJSテスト　ここから -->
  <!-- 起動ボタン -->

  <!-- モーダル -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <img src="../../static/img/logout-icon.png" class="js-logout-img" alt="注意" />
      <div class="font">ログアウトしますか？</div>
      <!-- ログアウト用フォーム -->

      <form action="/logout">
        <input type="submit" class="js-btn delete" value="はい" />
      </form>

      <!-- キャンセルボタン -->
      <button class="js-btn cancel" onclick="closeModal()">キャンセル</button>
    </div>
  </div>

  <script>
    // モーダルを表示する関数
    function openModal() {
      // id="myModal" の要素を取得して display を "flex" に変更
      // これによりモーダルが画面に表示される
      document.getElementById("myModal").style.display = "flex";
    }

    // モーダルを非表示にする関数
    function closeModal() {
      // id="myModal" の要素を取得して display を "none" に変更
      // これによりモーダルが閉じられる
      document.getElementById("myModal").style.display = "none";
    }
  </script>

  <!-- ログアウトのJSテスト　ここまで -->
  <script>
    const elements = document.getElementsByName("chat_type");
    const openForm = document.getElementById("openForm");
    const groupForm = document.getElementById("groupForm");
    const privateForm = document.getElementById("privateForm");
    const openDiv = document.getElementById("open_div");
    const groupDiv = document.getElementById("group_div");
    const privateDiv = document.getElementById("private_div");

    openForm.style.display = "block";
    groupForm.style.display = "none";
    privateForm.style.display = "none";
    openDiv.classList.add("checked");

    const checkRadio = () => {
      let checkValue = "";
      for (let i = 0; i < elements.length; i++) {
        if (elements.item(i).checked) {
          checkValue = elements.item(i).value;
        }
      }
      if (checkValue == "open") {
        openForm.style.display = "block";
        groupForm.style.display = "none";
        privateForm.style.display = "none";
        openDiv.classList.add("checked");
        groupDiv.classList.remove("checked");
        privateDiv.classList.remove("checked");
      } else if (checkValue == "group") {
        openForm.style.display = "none";
        groupForm.style.display = "block";
        privateForm.style.display = "none";
        openDiv.classList.remove("checked");
        groupDiv.classList.add("checked");
        privateDiv.classList.remove("checked");
      } else if (checkValue == "private") {
        openForm.style.display = "none";
        groupForm.style.display = "none";
        privateForm.style.display = "block";
        openDiv.classList.remove("checked");
        groupDiv.classList.remove("checked");
        privateDiv.classList.add("checked");
      }
    };
    const addForm = () => {
      const input_data = document.createElement("input");
      input_data.type = "text";
      input_data.name = "friends_name";
      input_data.classList.add("chat-name");
      input_data.classList.add("member-add-list");
      const parent = document.getElementById("add_member_form");
      parent.appendChild(input_data);
    };
  </script>

  {% endblock content %}
</body>
