{% extends 'util/base.html' %} {% block title %}
<title>Member Add</title>
{% endblock title %}
{% block content %}
<div>メンバー追加画面</div>
<form action="/chat/{{ chat.id }}/messages" method="GET">
    <input type="submit" value="チャットへ">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/chat/{{ chat.id }}/add_member" method="post">
    <input type="text" name="friends_name">
    <button type="submmit">友達追加</button>
</form>
<!-- TODO: プラスボタンを作り、JSでinputを増加させられるようにする -->
{% endblock content %}