<!-- いずれチャット説明変更になるHTML -->

{% extends 'util/base.html' %} {% block title %}
<title>チャット説明変更</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>チャット説明変更</h1>
    <a href="/chat/{{ chat.id }}/detail" class="back-button">
      <img src="../../static/img/left.png" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダー END ----->

  <!----- メインコンテンツ ----->
  <main class="main">
    <form action="/chat/update_detail/{{ chat.id }}" method="POST">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div>
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
      <div class="input-form">
        <div class="input-box-autu">
          <div class="font">説明</div>
          <input type="text " name="detail" placeholder="{{chat.detail}}" class="chatexplanation" />
        </div>
      </div>

      <p><input type="submit" value="保存" class="main-button" /></p>
    </form>
    <img src="{{ url_for('static', filename='img/change_explanation.png') }}" class="backgroundimage" />
  </main>
  {% endblock content %}
</body>
