{% extends 'util/base.html' %}
{% block title %}
<title>アップデートチャット</title>
{% endblock title %}

{% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>{{ chat.chat_name }}</h1>
    <form action="/chat/{{ chat.id }}/messages" method="GET" class="back-button">
      <input type="image" src="{{ url_for('static', filename='img/left.png') }}" alt="戻る" class="header-image" />
    </form>
    {% if chat.user_id == current_user.user_id %}
    <a onclick="openDeleteModal()" class="deletebox-button">
      <input type="image" src="{{ url_for('static', filename='img/delete.png') }}" alt="削除" class="header-image" />
    </a>
    {% endif %}
  </header>
  <!----- ヘッダーEND ----->

  <!-- メイン -->
  <main class="main">
    <div class="input-box-list">
      {% if error %}
      <div>
        <h3>{{ error }}</h3>
      </div>
      {% endif %}

      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div>
        <h3>{{ message }}</h3>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <!-- 作成者であるのか -->
      {% if chat.user_id != current_user.user_id %}
      <div class="input-box-child">
        <div>チャット名</div>
        <div class="transitionplaceholder">
          <div class="text-box">
            <div>{{chat.chat_name}}</div>
          </div>
        </div>
      </div>

      <div class="input-box-child">
        <div class="chatexplanation-label">説明</div>
        <div class="transitionplaceholder">
          <div class="chatexplanation">
            <div>{{chat.detail}}</div>
          </div>
        </div>
      </div>

      {% if chat.chat_type == 1 %}
      <div class="chatexplanation-label">グループメンバー</div>
      <ul class="memberul">
        {% for member in chat_member%}
        <li class="memberlist">
          <div class="text-box">{{ member }}</div>
        </li>
        {% endfor %}
      </ul>
      <form action="/chat/{{ chat.id }}/add_member" method="GET">
        <input type="submit" value="メンバー追加へ" class="main-button-login chatcreatesubmit" />
      </form>
      {% endif %}
      {% else %}
      <div class="input-box-child">
        <div>チャット名</div>
        <a href="/chat/update_name/{{ chat.id }}" class="transitionplaceholder">
          <div class="arrow_nameupdate">
            <div class="text-box">{{chat.chat_name}}</div>
          </div>
        </a>
      </div>

      <div class="input-box-child">
        <div class="chatexplanation-label">説明</div>
        <a href="/chat/update_detail/{{ chat.id }}" class="transitionplaceholder">
          <div class="arrow_detailupdate">
            <div class="chatexplanation">{{chat.detail}}</div>
          </div>
        </a>
      </div>

      <!-- グループに所属しているか -->
      {% if chat.chat_type == 1 %}
      <div class="chatexplanation-label">グループメンバー</div>
      <ul class="memberul">
        {% for member in chat_member%}
        <li class="memberlist">
          <div class="text-box">{{ member }}</div>
        </li>
        {% endfor %}
      </ul>
      <form action="/chat/{{ chat.id }}/add_member" method="GET">
        <input type="submit" value="メンバー追加へ" class="main-button-login chatcreatesubmit" />
      </form>
      {% endif %}
      {% endif %}
    </div>
  </main>
  <!-- メインEND -->

  <!-- フッター -->
  <footer class="footer-button_chatscreate">
    <a href="/profile" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="プロフィール" class="footer-image" />
        プロフィール
      </div>
    </a>

    <a href="/chats" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/chat-list-create.png') }}" alt="ホーム" class="footer-image" />
        ホーム
      </div>
    </a>

    <!-- ログアウト用モーダルを開く -->
    <a onclick="openLogoutModal()" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/logout-create.png') }}" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>
  <!-- フッターEND -->

  <!-- ======================== モーダル ======================== -->

  <!-- チャット削除モーダル -->
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeDeleteModal()">&times;</span>
      <img src="{{ url_for('static', filename='img/chat-delete.png') }}" class="js-deletet-img" alt="注意" />
      <div class="font">チャットを削除しますか？</div>
      <!-- 削除用フォーム -->
      <form action="/chat/delete/{{ chat.id }}" method="POST">
        <input type="submit" class="js-btn delete" value="はい" />
      </form>
      <!-- キャンセルボタン -->
      <button class="js-btn cancel" onclick="closeDeleteModal()">キャンセル</button>
    </div>
  </div>

  <!-- ログアウトモーダル -->
  <div id="logoutModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeLogoutModal()">&times;</span>
      <img src="{{ url_for('static', filename='img/logout-create.png') }}" class="js-deletet-img" alt="注意" />
      <div class="font">ログアウトしますか？</div>
      <!-- ログアウト用フォーム -->
      <form action="/logout">
        <input type="submit" class="js-btn delete" value="はい" />
      </form>
      <!-- キャンセルボタン -->
      <button class="js-btn cancel" onclick="closeLogoutModal()">キャンセル</button>
    </div>
  </div>

  <!-- ======================== JS ======================== -->
  <script>
    // チャット削除モーダル
    function openDeleteModal() {
      document.getElementById("deleteModal").style.display = "flex";
    }
    function closeDeleteModal() {
      document.getElementById("deleteModal").style.display = "none";
    }

    // ログアウトモーダル
    function openLogoutModal() {
      document.getElementById("logoutModal").style.display = "flex";
    }
    function closeLogoutModal() {
      document.getElementById("logoutModal").style.display = "none";
    }
  </script>

  {% endblock content %}
</body>