{% extends 'util/base.html' %} {% block title %}
<title>Create Chat</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>チャット作成</h1>
    <!-- chatlistが同じファイル内にないため行かない -->
    <a href="/chats" class="back-button">
      <!-- ファイル統一の為変更 -->
      <img src="../static/img/left.png" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダーEND ----->

  <!-- メイン -->
  <main class="main">
    <form action="/chat/create" method="post">
      <div class="input-box-list">
        <!-- チャットタイプ選択 -->
        <h3>グループタイプ選択</h3>
        <div class="select-chat_types">
          <!-- オープンチャット -->
          <input type="radio" id="open" name="chat_type" value="open" onclick="checkRadio()" checked class="select-chat_typeradio" />
          <label for="open">
            <div class="select-chat_type">
              <img src="{{ url_for('static', filename='img/openform.png') }}" class="select-chat_typeimg" />
            </div>
          </label>
          <!-- グループチャット -->
          <input type="radio" id="group" name="chat_type" value="group" onclick="checkRadio()" class="select-chat_typeradio" />
          <label for="group">
            <div class="select-chat_type">
              <img src="{{ url_for('static', filename='img/groupform.png') }}" class="select-chat_typeimg" />
            </div>
          </label>

          <!-- プライベートチャット -->
          <input type="radio" id="private" name="chat_type" value="private" onclick="checkRadio()" class="select-chat_typeradio" />
          <label for="private">
            <div class="select-chat_type">
              <img src="{{ url_for('static', filename='img/privateform.png') }}" class="select-chat_typeimg" />
            </div>
          </label>
        </div>
        <div class="input-box-child">
          <div>チャット名</div>
          <input type="text" name="chat_name" value="" class="chat-name" />
        </div>

        <div class="input-box-child">
          <div class="chatexplanation-label">説明</div>
          <input type="text" name="name" value="" class="chatexplanation" />
        </div>

        <input type="submit" value="登録" class="main-button" />
      </div>
    </form>
  </main>
  <!-- メインEND -->

  <!-- フッター -->
  <footer>
    <div class="footer-button">
      <div class="footer-item">
        <!-- src="chatcreate(2).png"を変更-->
        <!-- chat-create-create.pngを変更-->
        <img src="{{ url_for('static', filename='img/chat-create-create.png') }}" alt="チャット作成" class="footer-image" />
        チャット作成
      </div>
    </div>

    <a href="/chats" class="footer-button">
      <div class="footer-item">
        <!-- src="chatlist(2).png"を変更-->
        <!-- chat-list-create.pngを変更-->
        <img src="{{ url_for('static', filename='img/chat-list-create.png') }}" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </a>

    <a onclick="openModal()" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/logout-create.png') }}" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>
  <!-- ログアウトのJSテスト　ここから -->
  <!-- 起動ボタン -->

  <!-- モーダル -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <img src="../../static/img/logout-icon.png" class="js-logout-img" alt="注意" />
      <div class="font">ログアウトしますか？</div>
      <!-- ログアウト用フォーム -->

      <form action="/logout">
        <input type="submit" class="js-btn delete" value="はい" />
      </form>

      <!-- キャンセルボタン -->
      <button class="js-btn cancel" onclick="closeModal()">キャンセル</button>
    </div>
  </div>

  <script>
    // モーダルを表示する関数
    function openModal() {
      // id="myModal" の要素を取得して display を "flex" に変更
      // これによりモーダルが画面に表示される
      document.getElementById("myModal").style.display = "flex";
    }

    // モーダルを非表示にする関数
    function closeModal() {
      // id="myModal" の要素を取得して display を "none" に変更
      // これによりモーダルが閉じられる
      document.getElementById("myModal").style.display = "none";
    }
  </script>

  <!-- ログアウトのJSテスト　ここまで -->
  <script>
    const elements = document.getElementsByName("chat_type");
    const openForm = document.getElementById("openForm");
    const groupForm = document.getElementById("groupForm");
    const privateForm = document.getElementById("privateForm");
    openForm.style.display = "block";
    groupForm.style.display = "none";
    privateForm.style.display = "none";
    const checkRadio = () => {
      let checkValue = "";
      for (let i = 0; i < elements.length; i++) {
        if (elements.item(i).checked) {
          checkValue = elements.item(i).value;
        }
      }
      if (checkValue == "open") {
        openForm.style.display = "block";
        groupForm.style.display = "none";
        privateForm.style.display = "none";
      } else if (checkValue == "group") {
        openForm.style.display = "none";
        groupForm.style.display = "block";
        privateForm.style.display = "none";
      } else if (checkValue == "private") {
        openForm.style.display = "none";
        groupForm.style.display = "none";
        privateForm.style.display = "block";
      } else {
        openForm.style.display = "none";
        groupForm.style.display = "none";
        privateForm.style.display = "none";
      }
    };
    const addForm = () => {
      const input_data = document.createElement("input");
      input_data.type = "text";
      input_data.name = "friends_name";
      const parent = document.getElementById("add_member_form");
      parent.appendChild(input_data);
    };
  </script>

  {% endblock content %}
</body>
