{% extends 'util/base.html' %} {% block title %}
<title>Update Chat</title>
{% endblock title %}
{% block content %}
<div>チャット編集</div>
<form action="/chat/{{ chat.id }}/messages" method="GET">
    <input type="submit" value="チャットへ">
</form>
{% if error %}
<div>
    <h3>{{ error }}</h3>
</div>
{% endif %}
{% if message %}
<div>
    <h3>{{ message }}</h3>
</div>
{% endif %}
<form action="/chat/update/{{ chat.id }}" method="post">
    <input name="chat_name" placeholder="name">
    <input name="detail">
    <button type="submmit">チャット更新</button>
</form>
<form action="/chat/delete/{{ chat.id }}" method="POST">
    <input type="submit" value="削除">
</form>
{% endblock content %}