{% extends 'util/base.html' %} {% block title %}
<title>Select Private</title>
{% endblock title %}
{% block content %}
<div>友達選択</div>
<form action="/chat/create" method="GET">
    <input type="submit" value="チャット作成へ">
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/chat/create/select_private" method="post">
    <input type="text" name="friend_name">
    <button type="submmit">友達追加</button>
</form>
{% endblock content %}