{% extends 'util/base.html' %} {% block title %}
<title>Create Chat</title>
{% endblock title %} {% block content %}
<div>チャット作成画面</div>
<form action="/chats" method="GET">
  <input type="submit" value="チャット一覧へ" />
</form>
{% if error %}
<div>
  <h3>{{ error }}</h3>
</div>
{% endif %}
<!-- TODO: プライベート以外を選択したら入力フォームが出てくるようにする -->
<form action="/chat/create" method="post">
  <input type="radio" id="open" name="chat_type" value="open" onclick="checkRadio()" checked /><label for="open">オープンチャット</label><br />
  <input type="radio" id="group" name="chat_type" value="group" onclick="checkRadio()" /><label for="group">グループチャット</label><br />
  <input type="radio" id="private" name="chat_type" value="private" onclick="checkRadio()" /><label for="private">プライベートチャット</label><br />
  <!-- オープンチャット選択 -->
  <div id="openForm">
    <input name="open_chat_name" placeholder="name" />
    <input name="open_detail" /><br />
  </div>
  <!-- グループチャット選択 -->
  <div id="groupForm">
    <input name="group_chat_name" placeholder="name" />
    <input name="group_detail" /><br />
    <div id="add_member_form">
      <input type="text" name="friends_name" />
      <input type="button" value="+" onclick="addForm()" />
    </div>
  </div>
  <!-- プライベートチャット選択 -->
  <div id="privateForm">
    <div>プライベート</div>
    <input name="private_friend_name" />
  </div>
  <button type="submmit">チャット作成</button>
</form>
<form action="/test" method="get">
  <input type="submit" value="getボタン" />
</form>

<script>
  const elements = document.getElementsByName("chat_type");
  const openForm = document.getElementById("openForm");
  const groupForm = document.getElementById("groupForm");
  const privateForm = document.getElementById("privateForm");
  openForm.style.display = "block";
  groupForm.style.display = "none";
  privateForm.style.display = "none";
  const checkRadio = () => {
    let checkValue = "";
    for (let i = 0; i < elements.length; i++) {
      if (elements.item(i).checked) {
        checkValue = elements.item(i).value;
      }
    }
    if (checkValue == "open") {
      openForm.style.display = "block";
      groupForm.style.display = "none";
      privateForm.style.display = "none";
    } else if (checkValue == "group") {
      openForm.style.display = "none";
      groupForm.style.display = "block";
      privateForm.style.display = "none";
    } else if (checkValue == "private") {
      openForm.style.display = "none";
      groupForm.style.display = "none";
      privateForm.style.display = "block";
    } else {
      openForm.style.display = "none";
      groupForm.style.display = "none";
      privateForm.style.display = "none";
    }
  };
  const addForm = () => {
    const input_data = document.createElement("input");
    input_data.type = "text";
    input_data.name = "friends_name";
    const parent = document.getElementById("add_member_form");
    parent.appendChild(input_data);
  };
</script>
{% endblock content %}
