<!-- いずれチャット説明変更になるHTML -->

{% extends 'util/base.html' %} {% block title %}
<title>チャット説明変更</title>
{% endblock title %} {% block content %}

<body class="body">
  <!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <!----- ヘッダー ----->

  <header class="header">
    <h1>チャット説明変更</h1>
    <a href="/chat/<chat_id>/detail" class="back-button">
      <!-- ファイル統一の為変更 -->
      <img src="../../static/img/left.png" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダー END ----->

  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <!----- メインコンテンツ ----->
  <main class="main">
    <form action="/chat/update_detail/{{ chat.id }}" method="POST">
      <div class="input-form">
        <div class="input-box-autu">
          <div class="font">説明</div>
          <input type="text" name="detail" placeholder="{{chat.detail}}" class="text-box" />
        </div>
      </div>

      <p><input type="submit" value="保存" class="main-button" /></p>
    </form>
    <img src="{{ url_for('static', filename='img/change_explanation.png') }}" class="backgroundimage" />
  </main>
  {% endblock content %}
</body>
