{% extends 'util/base.html' %} {% block title %}
<title>メンバー追加</title>
{% endblock title %} {% block content %}

<body class="body">
  <header class="header">
    <h1>メンバー追加</h1>
    <a href="/chat/{{ chat.id }}/detail" class="back-button">
      <img src="{{ url_for('static', filename='img/left.png') }}" alt="Parrots" class="header-image" />
    </a>
  </header>
  <main class="main">
    <div class="list">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
      <h3>グループメンバー追加</h3>

      <form action="/chat/{{ chat.id }}/add_member" method="post" class="list">
        <div id="add_member_form">
          <input type="text" name="friends_name" class="h3-box member-add-list" />
        </div>
        <input type="button" value="+" onclick="addForm()" class="member-add-button" />
        <button type="submmit" class="main-button">追加</button>
      </form>
    </div>
  </main>
  <!-- <form action="/chat/{{ chat.id }}/detail" method="GET">
        <input type="submit" value="チャット編集へ">
    </form> -->
  <script src="{{ url_for('static', filename='js/chatsAddMember.js') }}"></script>
  {% endblock content %}
</body>