{% extends 'util/base.html' %} {% block title %}
<title>チャット一覧</title>
{% endblock title %} {% block content %}

<body class="body">
  <header class="header">
    <h1>チャット一覧</h1>
  </header>
  <main>
    <a href="chatscreen.html" class="list">
        {% for chat in chats %}
        <form action="/chat/{{ chat.id }}/messages" method="GET">
        <input type="submit" value="{{ chat.chat_name}}" class="h3-box">
        </form>
        {% endfor %}
    </a>
  </main>

  <footer>
    <a href="/chat/create" class="footer-button">
      <div class="footer-item">
        <img src="../static/img/chat-create-list.png" alt="チャット作成" class="footer-image" />
        チャット作成
      </div>
    </a>

    <a href="/register" class="footer-button">
      <div class="footer-item">
        <img src="../static/img/chat-list-list.png" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </a>

    <a href="/logout" class="footer-button">
      <div class="footer-item">
        <img src="../static/img/logout-list.png" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>

  {% endblock content %}
</body>