{% extends 'util/base.html' %} {% block title %}
<title>Update Chat</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>{{ chat.chat_name }}</h1>
    <form action="/chat/{{ chat.id }}/messages" method="GET" class="back-button">
      <input type="image" src="{{ url_for('static', filename='img/left.png') }}" alt="戻る" class="header-image" />
    </form>
    <!----- 試験 
        <form action="/chat/delete/{{ chat.id }}" method="POST" class="deletebox-button">
            <input type="image" src="{{ url_for('static', filename='img/delete.png') }}" alt="削除"
                class="header-image" />
        </form>
        ----->

    {% if chat.user_id == current_user.user_id %}
    <a onclick="openModal()" class="deletebox-button">
      <input type="image" src="{{ url_for('static', filename='img/delete.png') }}" alt="削除" class="header-image" />
    </a>
    {% endif %}
  </header>
  <!----- ヘッダーEND ----->

  <!-- メイン -->
  <main class="main">
    <div class="input-box-list">
      {% if error %}
      <div>
        <h3>{{ error }}</h3>
      </div>
      {% endif %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
      <div>
        <h3>{{ message }}</h3>
      </div>
      {% endfor %} {% endif %} {% endwith %}

      <!-- 作成者であるのか -->
      {% if chat.user_id != current_user.user_id %}

      <div class="input-box-child">
        <div>チャット名</div>
        <div class="transitionplaceholder">
          <div class="text-box">
            <div>{{chat.chat_name}}</div>
          </div>
        </div>
      </div>

      <div class="input-box-child">
        <div class="chatexplanation-label">説明</div>
        <div class="transitionplaceholder">
          <div class="chatexplanation">
            <div>{{chat.detail}}</div>
          </div>
        </div>
      </div>
      {% if chat.chat_type == 1 %}
      <div class="chatexplanation-label">グループメンバー</div>
      <ul class="memberul">
        {% for member in chat_member%}

        <li class="memberlist">
          <div class="text-box">{{ member }}</div>
        </li>
        {% endfor %}
      </ul>
      <form action="/chat/{{ chat.id }}/add_member" method="GET">
        <input type="submit" value="メンバー追加へ" class="main-button-login chatcreatesubmit" />
      </form>
      {% endif %} {% else %}

      <div class="input-box-child">
        <div>チャット名</div>
        <a href="/chat/update_name/{{ chat.id }}" class="transitionplaceholder">
          <div class="text-box">
            <div class="placeholder">{{chat.chat_name}}</div>
            <img src="{{ url_for('static', filename='img/arrow.png') }}" class="arrow" />
          </div>
        </a>
      </div>

      <div class="input-box-child">
        <div class="chatexplanation-label">説明</div>
        <a href="/chat/update_detail/{{ chat.id }}" class="transitionplaceholder">
          <div class="chatexplanation">
            <div class="placeholder">{{chat.detail}}</div>
            <img src="{{ url_for('static', filename='img/arrow.png') }}" class="arrow" />
          </div>
        </a>
      </div>

      <!-- グループに所属しているか -->
      {% if chat.chat_type == 1 %}
      <ul>
        {% for member in chat_member%}
        <li>{{ member }}</li>
        {% endfor %}
      </ul>
      <form action="/chat/{{ chat.id }}/add_member" method="GET">
        <input type="submit" value="メンバー追加へ" />
      </form>
      {% endif %} {% endif %}
    </div>
  </main>
  <!-- メインEND -->

  <footer class="footer-button_chatscreate">
    <a href="/profile" method="GET" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/profile.png') }}" alt="プロフィール" class="footer-image" />
        プロフィール
      </div>
    </a>

    <div class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/chat-list-create.png') }}" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </div>

    <a onclick="openModal()" class="footer-button">
      <div class="footer-item">
        <img src="{{ url_for('static', filename='img/logout-create.png') }}" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>

  <!-- ログアウトのJSテスト　ここから -->

  <!-- モーダル -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <img src="{{ url_for('static', filename='img/chat-delete.png') }}" class="js-logout-img" alt="注意" />
      <div class="font">チャット削除しますか？</div>
      <!-- ログアウト用フォーム -->

      <form action="/chat/delete/{{ chat.id }}" method="POST">
        <input type="submit" class="js-btn delete" value="はい" />
      </form>

      <!-- キャンセルボタン -->
      <button class="js-btn cancel" onclick="closeModal()">キャンセル</button>
    </div>
  </div>

  <script>
    // モーダルを表示する関数
    function openModal() {
      // id="myModal" の要素を取得して display を "flex" に変更
      // これによりモーダルが画面に表示される
      document.getElementById("myModal").style.display = "flex";
    }

    // モーダルを非表示にする関数
    function closeModal() {
      // id="myModal" の要素を取得して display を "none" に変更
      // これによりモーダルが閉じられる
      document.getElementById("myModal").style.display = "none";
    }
  </script>

  <!-- ログアウトのJSテスト　ここまで -->

  {% endblock content %}
</body>
