{% extends 'util/base.html' %} {% block title %}
<title>チャット作成</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->
  <header class="header">
    <h1>チャット作成</h1>
    <!-- chatlistが同じファイル内にないため行かない -->
    <a href="/chats" class="back-button">
      <!-- ファイル統一の為変更 -->
      <img src="../static/img/left.png" alt="Parrots" class="header-image" />
    </a>
  </header>
  <!----- ヘッダーEND ----->

  <!-- メイン -->
  <main class="main">
    <form action="/chat/create" method="post">
      <div class="input-box-list">

        <div class="input-box-child">
          <div>チャット名</div>
          <input type="text" name="chat_name" value="" class="chat-name" />
        </div>

        <div class="input-box-child" >
          <div class="chatexplanation-label">説明</div>
          <input type="text" name="name" value="" class="chatexplanation" />
        </div>

      <input type="submit" value="登録" class="main-button" />

      </div>
    </form>
  </main>
  <!-- メインEND -->

  <!-- フッター -->
  <footer>
    <div class="footer-button">
      <div class="footer-item">
        <!-- src="chatcreate(2).png"を変更-->
        <!-- chat-create-create.pngを変更-->
        <img src="{{ url_for('static', filename='img/chat-create-create.png') }}" alt="チャット作成" class="footer-image" />
        チャット作成
      </div>
    </div>

    <a href="/chats" class="footer-button">
      <div class="footer-item">
        <!-- src="chatlist(2).png"を変更-->
        <!-- chat-list-create.pngを変更-->
        <img src="{{ url_for('static', filename='img/chat-list-create.png') }}" alt="チャット一覧" class="footer-image" />
        チャット一覧
      </div>
    </a>

    <a href="/logout" class="footer-button">
      <div class="footer-item">
        <!-- src="logout(2).png"を変更-->
        <!-- logout-create.pngを変更-->
         <img src="{{ url_for('static', filename='img/logout-create.png') }}" alt="ログアウト" class="footer-image" />
        ログアウト
      </div>
    </a>
  </footer>
  <!-- フッターEND -->

  {% endblock content %}
</body>