{% extends 'util/base.html' %} {% block title %}
<title>Delete User</title>
{% endblock title %}
{% block content %}
<h1>ユーザ登録解除</h1>
<h2>{{ current_user.user_name }} さん！　めんたいチャットのユーザ登録を解除しますか？</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/delete_user/{{ current_user.user_id }}" method="POST">
    <input type="submit" value="ユーザ登録解除">
</form>
<form action="/update_user/{{ current_user.user_id }}" method="GET">
    <input type="submit" value="キャンセル">
</form>
{% endblock content %}