{% extends 'util/base.html' %} {% block title %}
<title>Login</title>
{% endblock title %}
{% block content %}
<h1>ログインしてください</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/login" method="POST">
    <label for="">Eメールアドレス</label>
    <input type="email" name="email"><br />
    <label for="">パスワード</label>
    <input type="password" name="password"><br />
    <input type="submit" value="ログイン">
</form>
<form action="/register" method="GET">
    <input type="submit" value="ユーザ登録">
</form>
{% endblock content %}


