{% extends 'util/base.html' %} {% block title %}
<title>chatroom</title>
{% endblock title %}
{% block content %}
<div>Chat Room</div>
<div>{{ chat.chat_name }}</div>
<form action="/chats" method="GET">
    <input type="submit" value="チャット一覧へ">
</form>
<form method="post">
    <input name="message" placeholder="メッセージを入力">
    <button type="submmit">送信</button>
</form>
<ul>
    {% for message in messages %}
    <li>{{ message.message }}
        {% if message.user_id == user_id %}
        <form action="/chat/{{ chat.id }}/messages/{{ message.id }}" method="POST">
            <input type="submit" value="削除">
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock content %}