{% extends 'util/base.html' %}

{% block title %}
<title>全体チャット</title>
{% endblock title %}

{% block content %}

<body class="body">
    <!-- ヘッダー -->
    <header class="header">
        <h1>{{ chat.chat_name }}</h1>
        <form action="/chats" method="GET" class="back-button">
            <input type="image" src="{{ url_for('static', filename='img/left.png') }}" alt="戻る" class="header-image" />
        </form>
        
        {% if chat.user_id == user_id %}
        <form action="/chat/{{ chat.id }}/detail" method="GET">
            <input type="image" src="{{ url_for('static', filename='img/setting.png') }}" alt="編集" class="header-image" />
        </form>
        {% endif %}
    </header>

    <!-- メイン -->
    <main>
        {% for message in messages %}
        <div class="message {{ 'right' if message.user_id == current_user.id else 'left' }}">
            <div class="message-box">
                <div class="message-content">
                    <div class="message-text">{{ message.message }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>

    <!-- フッター（メッセージ送信フォーム）-->
    <footer class="chat-screen">
        <form action="/chat/{{ chat.id }}/messages" method="POST" class="chat-form">
            <textarea id="footer-message" name="message" placeholder="メッセージを入力" required></textarea>
            <input type="image" src="{{ url_for('static', filename='img/send-button.png') }}" alt="送信"
                class="send-button">
        </form>
    </footer>
</body>
{% endblock content %}