{% extends 'util/base.html' %} {% block title %}
<title>プロフィール</title>
{% endblock title %} {% block content %}

<body class="body">
  <!----- ヘッダー ----->

  <header class="header">
    <h1>プロフィール</h1>
    <form action="/chats" method="GET" class="back-button">
      <input type="image" src="{{ url_for('static', filename='img/left.png') }}" alt="戻る" class="header-image" />
    </form>

    <!-- JavaScript？ -->
    <form action="/delete_user" method="GET" class="deletebox-button">
      <input type="image" src="{{ url_for('static', filename='img/delete.png') }}" alt="削除" class="header-image" />
    </form>
  </header>
  <!----- ヘッダー END ----->

  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}

  <!----- メインコンテンツ ----->
  <main class="main">
    <div class="input-form">
      <!-- 検証中　ここから -->
      <div>
        <img src="{{ icon_img }}" alt="アイコン画像" width="150" height="150" />
        <form action="/change_icon" method="GET">
          <input type="submit" value="変更" />
        </form>
      </div>
      <!-- 検証中　ここまで -->
      <!--  -->
      <div>
        <p>カレンとユーザーID： <var>{{ current_user.user_id }}</var></p>
        <form action="/change_uname" method="GET">
          <input type="submit" value="変更" />
        </form>
      </div>
      <!--  -->
      <form action="/change_uname" method="GET">
        <div class="input-box-autu">
          <div class="font">ユーザー名</div>
          <div class="search-box">
            <div class="text-box">
              <var>{{ current_user.user_name }}</var>
            </div>
            <input type="submit" value="変更" />
          </div>
        </div>
      </form>

      <div class="input-box-autu">
        <div class="font">メールアドレス</div>
        <a href="/change_email" class="transitionplaceholder">
          <div class="search-box1">
            <div class="text-box">
              <div class="placeholder">{{ current_user.email }}</div>
              <img src="{{ url_for('static', filename='img/arrow.png') }}" class="arrow" />
            </div>
          </div>
        </a>
      </div>

      <div class="input-box-autu">
        <div class="font">パスワード</div>
        <a href="/change_password" class="transitionplaceholder">
          <div class="search-box2">
            <div class="text-box">
              <div class="placeholder">・・・・・・・・</div>
              <img src="{{ url_for('static', filename='img/arrow.png') }}" class="arrow" />
            </div>
          </div>
        </a>
      </div>
    </div>
  </main>

  <!-- メインEND -->

  <!-- ユーザー削除のJS関係　ここから -->
  ここは吉田将貴がテストしております<br />

  <!-- 起動ボタン -->
  <button class="btn" onclick="openModal()">アカウント削除</button>

  <!-- モーダル -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <img src="js-userdelet.png" class="js-userdele-img" alt="注意" />
      <div class="font">アカウントを削除しますか？</div>
      <!-- アカウント削除ボタン -->
      <form action="/delete_user" method="POST">
        <input type="submit" class="js-btn delete" value="はい" />
      </form>
      <!-- キャンセルボタン -->
      <button class="js-btn cancel" onclick="closeModal()">キャンセル</button>
    </div>
  </div>

  <script>
    function openModal() {
      document.getElementById("myModal").style.display = "flex";
    }
    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    // 背景クリックで閉じる
    window.onclick = function (event) {
      const modal = document.getElementById("myModal");
      if (event.target === modal) {
        closeModal();
      }
    };
  </script>
  <!-- ユーザー削除のJS関係　ここまで -->
  {% endblock content %}
</body>
