{% extends 'util/base.html' %} {% block title %}
<title>Register</title>
{% endblock title %}
{% block content %}
<h1>ユーザ登録してください</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/register" method="POST">
    <label for="">ユーザ名</label>
    <input type="text" name="user_name"><br />
    <label for="">Eメールアドレス</label>
    <input type="email" name="email"><br />
    <label for="">パスワード</label>
    <input type="password" name="password"><br />
    <label for="">確認用パスワード</label>
    <input type="password" name="password-confirmation"><br />
    <input type="submit" value="登録">
</form>
<form action="/login" method="GET">
    <input type="submit" value="ログイン画面">
</form>
{% endblock content %}
