{% extends 'util/base.html' %} {% block title %}
<title>Update User</title>
{% endblock title %}
{% block content %}
<h1>ユーザ情報更新</h1>
<!-- <h2>{{ current_user.user_name }} さんのユーザ情報を更新します</h2> -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="/update_user/{{ current_user.user_id }}" method="POST">
    <div>
        <p>ユーザー名： <var>{{ current_user.user_name }}</var></p>
        <!-- <label for="">ユーザ名</label> -->
        <!-- <input type="text" name="user_name" value={{ current_user.user_name }}> -->
        <!-- <input type="text" name="user_name"></input> -->
        <form action="/change_uname/{{ current_user.user_id }}" method="GET">
            <input type="submit" value="変更">
        </form>
    </div>
    <div>
        <p>Eメールアドレス： <var>{{ current_user.email }}</var></p>
        <form action="/chnage_email/{{ current_user.user_id }}" method="GET">
            <input type="submit" value="変更">
        </form>
        <!-- <label for="">Eメールアドレス</label> -->
        <!-- <input type="email" name="email" value={{ current_user.email }}> -->
        <!-- <input type="email" name="email" -->
    </div>
    <div>
        <p>パスワード： ・・・・</p>
        <form action="/chnage_password/{{ current_user.user_id }}" method="GET">
            <input type="submit" value="変更">
        </form>
        <!-- <label for="">パスワード</label> -->
        <!-- <input type="password" name="password"> -->
    </div>
    <!-- <div> -->
    <!-- <label for="">確認用パスワード</label> -->
    <!-- <input type="password" name="password-confirmation"> -->
    <!-- </div> -->
    <!-- <div> -->
    <!-- <button type="submit">更新</button> -->
    <!-- </div> -->
    <!-- </form> -->
    <form action="/delete_user/{{ current_user.user_id }}" method="GET">
        <input type="submit" value="ユーザ登録解除">
    </form>
    <form action="/chats" method="GET">
        <input type="submit" value="戻る">
    </form>

    {% endblock content %}