/* メイン */
/*ボックスを中央*/
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 文字したの線除去 */
    text-decoration: none;
}

.list-margin-top {

    margin-top: 120px;

}

/*ボックス内の表示*/
.h3-box {

    padding: 16px;
    height: 50px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;
    width: 320px;
    background: white;
    color: rgb(255, 148, 148);
    font-size: 14px;
    margin-top: 16px;

}

.messages {
    margin-top: 120px;

    /* ← フッター高さ(94) + 余白 */
    padding-bottom: 120px;

    display: flex;
    flex-direction: column;
}

.message {
    display: flex;
    flex-direction: column;
}

.message-box {

    /*上下の吹き出しの隙間*/
    margin-top: 8px;
    margin-bottom: 8px;

    /*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
    max-width: 70%;

    /* 文字サイズ */
    font-size: 14px;

    /*単語の途中でも改行*/
    overflow-wrap: break-word;

}


.message-content {

    /* 文字を真ん中に表示 */
    padding: 20px;

}


.left .message-box {

    /*左寄せ*/
    align-self: flex-start;
    margin-left: 24px;
    line-height: 1.3em;

    /* 文字・字背景色指定 */
    color: rgb(255, 148, 148);
    background-color: white;

    /* なんか吹き出しっぽくするやつ */
    border-radius: 30px 30px 30px 0px;

}

/* メッセージ（右側） */
.right .message-box {

    /*右寄せ*/
    align-self: flex-end;
    margin-right: 24px;
    line-height: 1.3em;

    /* 文字・字背景色指定 */
    color: #fff;
    background: rgb(255, 148, 148);

    /* なんか吹き出しっぽくするやつ */
    border-radius: 30px 30px 0px 30px;


}

/* メインEND */





.main {

    color: rgb(255, 148, 148);
    font-size: 14px;

    /* 中央に配置 */
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 110px;

}

.input-box-list {
    margin-top: 45px;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.input-box-child {
    width: 100%;
}

.chat-name {

    width: 320px;
    height: 50px;
    border: 1px solid rgb(255, 148, 148);
    border-radius: 12px;

}

.chatexplanation-label {
    margin-top: 45px;
}

.chatexplanation {

    width: 320px;
    height: 150px;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid rgb(255, 148, 148);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}




/* メインEND */

#footer-message {

    /*文字がテキストエリアの中心になる様に隙間調整*/
    line-height: 16px;
    width: 300px;
    height: 48px;
    padding: 14px 6px 0px 6px;

    /*角丸・枠なし*/
    border: none;
    border-radius: 24px;

    /*文字を左寄せ*/
    text-align: left;

    /*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
    box-sizing: border-box;

}

.send-button {
    /* 送信ボタンサイズ指定 */
    width: 48px;
    height: 48px;
}

.chat-screen {
    padding: 16px;
    font-size: 14px;
    width: 100%;
    height: 94px;
    background-color: rgb(255, 148, 148);
    /*←絶対位置(下)*/
    position: fixed;
    /*下に固定*/
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}