 /*入力ホーム全体のCSSについて*/
 .input-form {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 /*入力欄のCSSについて*/
 .input-box-autu {
     text-align: left;
     margin-top: 45px;
 }

 .input-box-login {
     text-align: left;
     margin-top: 12px;
 }

 /*入力欄上の文字のCSSについて*/
 .font {
     color: rgb(255, 148, 148);

 }


 /*入力欄全体のCSSについて*/
 .search-box {
     display: inline-block;
     position: relative;
     text-align: center;
 }

 /*入力の画像を真ん中にするため*/
 .search-box input {
     padding: 3px 0 3px 2em;
 }

 /*入力欄の画像の変更*/
 .search-box::before {
     content: "";
     width: 24px;
     height: 24px;
     background: url(/static/img/icon.png) no-repeat center center / auto 100%;
     display: inline-block;
     position: absolute;
     top: 10px;
     left: 16px;
 }

 /*入力欄全体のCSSについて*/
 .search-box1 {
     display: inline-block;
     position: relative;
     text-align: center;
 }

 /*入力の画像を真ん中にするため*/
 .search-box1 input {
     padding: 3px 0 3px 2em;
 }

 /*入力欄の画像の変更*/
 /*↓を複製し画像を設定する*/
 .search-box1::before {
     content: "";
     width: 24px;
     height: 24px;
     background: url(/static/img/mail.png) no-repeat center center / auto 100%;
     display: inline-block;
     position: absolute;
     top: 10px;
     left: 16px;
 }

 /*入力欄全体のCSSについて*/
 .search-box2 {
     display: inline-block;
     position: relative;
     text-align: center;
 }

 /*入力の画像を真ん中にするため*/
 .search-box2 input {
     padding: 3px 0 3px 2em;
 }

 /*入力欄の画像の変更*/
 /*↓を複製し画像を設定する*/
 .search-box2::before {
     content: "";
     width: 24px;
     height: 24px;
     background: url(/static/img/password.png) no-repeat center center / auto 100%;
     display: inline-block;
     position: absolute;
     top: 10px;
     left: 16px;
 }




 /*入力欄の枠について*/
 .text-box {
     /*↓枠のサイズがfigmaでの表記がわからないので後日*/
     width: 320px;
     height: 50px;
     border-radius: 10px;
     border-top: 1px solid rgb(255, 148, 148);
     border-left: 1px solid rgb(255, 148, 148);
     border-right: 2px solid rgb(255, 148, 148);
     border-bottom: 2px solid rgb(255, 148, 148);
     font-size: 16px;


 }