 .main-login {
     background-color: rgb(255, 227, 225);

 }

 /*ヘッダー*/
 /*ヘッダー全体のCSS*/
 .header-login {
     width: 100%;
     /* 幅を明示的に全体に */
     height: 409px;
     background-color: rgb(255, 245, 228);
     border-bottom-left-radius: 100% 190px;
     border-bottom-right-radius: 100% 190px;

 }

 .footer-login {
     color: rgb(107, 114, 128);
     font-size: 12px;
 }



 /*たらこ様のアイコンに関してのCSS*/
 .tarako {
     width: 407px;
     height: 407px;
 }


 /*たらこ様を真ん中にするCSS*/
 .center {
     position: relative;
     text-align: center;
     padding-top: 0px;
 }

 /*.............*/



 /*メイン全体を真ん中にする*/
 .container {
     text-align: center;
 }

 /*タイトルロゴのサイズ変更*/
 .title-logo {
     width: 276px;
     height: 62px;
     padding-top: 40px;
 }


 .btn {
     color: rgb(255, 148, 148);
 }




 h2 {
     color: rgb(255, 148, 148);
     font-size: 12px;
 }

 .transitionplaceholder {

     text-decoration: none;
     color: rgb(255, 148, 148);
 }

 .arrow {

     width: 24px;
     height: 24px;
     margin-left: auto;
     margin-right: 16px;

 }

 .placeholder {

     margin-left: 50px;

 }

 .icon-wrap {
     position: relative;
     display: inline-block;
 }

 .icon {
     width: 180px;
     height: 180px;
     border-radius: 50%;
     position: relative;
     overflow: hidden;
     margin-top: 30px;
 }

 .icon-img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     display: block;
 }

 .icon-large {
     width: 230px;
     height: 230px;
 }

 .camera-badge {
     position: absolute;
     right: -3px;
     bottom: -3px;
 }

 .camera-icon {
     width: 40px;
     height: 40px;
 }

 .filename {
     margin-top: 8px;
     font-size: 14px;
     color: rgb(255, 148, 148);
 }

 .iconchange {
     width: 140px;
     height: 57px;
     margin-top: 16px;
     margin-bottom: 16px;
 }

 .backgroundimage {

     position: absolute;
     bottom: 30px;
     max-width: 300px;
     width: 90%;
 }

 /*===下記コードはおとちゃん実装であるため、コード整理の時に自由に動かして大丈夫です===*/

 .member-add-list {
     margin-bottom: 10px;
     display: flex
 }

 .member-add-button {
     width: 320px;
     height: 30px;
     font-size: 16px;
     color: #FFF;
     background: #ff9494;
     border-radius: 12px;
     margin-top: 10px;
     border: none;
 }

 .select-chat_type {
     width: 90px;
     height: 90px;
     border: 1px solid #ff9494;
     border-radius: 15px;
 }

 .select-chat_typeimg {
     object-fit: cover;
     width: 100%;
     height: 100%;
 }

 .select-chat_typeradio {
     display: none;
 }

 .checked {
     border: 5px solid #ff9494;
 }

 .select-chat_types {
     display: flex;
     flex-direction: row;
     gap: 10px;
     justify-content: center;
     margin-bottom: 45px;
 }



 h3 {
     color: #ff9494;
     font-size: 14px;
     display: flex;
     justify-content: center;
 }


 .footer-button_chatscreate {
     position: fixed;
     bottom: 0;
     display: flex;
 }

 .chatcreatesubmit {
     margin-bottom: 110px;
 }

 .add_member_title {
     margin-top: 30px;
 }

 .memberlist {
     list-style: none;
     margin-bottom: 10px;
 }

 .memberul {
     padding-left: 0;
 }

 .main-img {
     width: 70px;
     height: 70px;
 }

 .main-box {
     width: 320px;
     height: 75px;
     border: 1px solid #ff9494;
     border-radius: 12px;
     background: white;
     margin-top: 16px;
     display: flex;
     align-items: center;
     text-decoration: none;
     color: #ff9494;
 }